# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
df = pd.read_csv(r'/Users/helenagomez/Documents/ironHack/lab-hypothesis-testing-en/data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [4]:
type(df)

pandas.core.frame.DataFrame

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [5]:
# Your code here
from scipy.stats import ttest_1samp

# Filtrar únicamente trabajadores por hora
hourly_workers = df[df["Salary or Hourly"] == "Hourly"]

# Extraer la columna con el salario por hora
hourly_wages = hourly_workers["Hourly Rate"]

# Realizar prueba t de una muestra comparando contra $30/hr
stat, p_value = ttest_1samp(hourly_wages, 30)

print("Estadístico t:", stat)
print("p-value:", p_value)

# Interpretación con α = 0.05
if p_value < 0.05:
    print("Resultado: Rechazamos H₀. El salario promedio es significativamente diferente de $30/hr.")
else:
    print("Resultado: No se rechaza H₀. No hay evidencia de diferencia significativa con $30/hr.")

Estadístico t: 20.6198057854942
p-value: 4.3230240486229894e-92
Resultado: Rechazamos H₀. El salario promedio es significativamente diferente de $30/hr.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [6]:
# Your code here
from scipy.stats import t, sem

# Calcular media del salario por hora
mean_hourly = hourly_wages.mean()

# Calcular error estándar
standard_error = sem(hourly_wages)

# Grados de libertad
df = len(hourly_wages) - 1

# Intervalo de confianza del 95%
confidence_interval = t.interval(0.95, df, loc=mean_hourly, scale=standard_error)

print("Media del salario por hora:", mean_hourly)
print("Intervalo de confianza 95%:", confidence_interval)

Media del salario por hora: 32.78855771628024
Intervalo de confianza 95%: (np.float64(32.52345834488425), np.float64(33.05365708767623))

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [12]:
from statsmodels.stats.proportion import proportions_ztest

# Número de empleados pagados por hora
H = (df["Salary or Hourly"] == "Hourly").sum()

# Total de empleados
N = len(df)

# Proporción hipotética
p0 = 0.25

# Test Z para una proporción (bilateral por defecto)
z_stat, p_value = proportions_ztest(H, N, p0)

print(f"Empleados Hourly: {H}")
print(f"Total empleados: {N}")
print(f"Proporción observada: {H / N:.4f}")
print(f"z-statistic: {z_stat:.4f}")
print(f"p-value: {p_value:.4f}")

# Decisión estadística
alpha = 0.05
if p_value < alpha:
    print("Conclusión: Se rechaza H₀. La proporción ES diferente de 25%.")
else:
    print("Conclusión: No se rechaza H₀. La proporción NO es diferente de 25%.")

TypeError: 'int' object is not subscriptable